@import '$lib/styles/normalize.css';
@import '$lib/styles/variables.css';
@import '$lib/styles/typography.css';
@import '$lib/styles/palette.css';
@import '$lib/styles/clusters.css';
@import '$lib/styles/map-performance.css';
